@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

* {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

/* Mobile Menu Animation */
@media (max-width: 768px) {
  nav {
    padding-bottom: 0;
  }
  
  button {
    cursor: pointer;
  }
}
