@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


body {
  font-family: "Cairo", sans-serif;
  background-color: #f9fafb;
  margin: 0;
}

